<div class="card {{ thought.model }}">
  <div class="content">
    <img ngSrc="assets/imagens/thoughts/{{thought.model}}.png" width="65" height="51" alt="Aspas coloridas">
    <p>
      {{ thought.content }}
    </p>
    <span>{{ thought.author }}</span>
  </div>
  <div class="actions">
    <button>
      <svg width="28" height="28" viewBox="0 0 28 28"  fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="28" height="28" fill="url(#pattern0_30752_56)"/>
        <defs>
          <pattern id="pattern0_30752_56" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_30752_56" transform="scale(0.03125)"/>
          </pattern>
          <image id="image0_30752_56" width="32" height="32" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsSAAALEgHS3X78AAABr0lEQVRYhe2XsVEDMRBFF4YCnCinA3AFtgPlRwdQgivwUgFQAXSAcwVnV8DRAbmSK4GRZuVZryUjnTQDAT85j8677++e7iTBb+sixVca7wHgOtPfaA0+i/gZADxRjhEA1tbglww8MUCBPQDcljTHGjzkSuRwJlbW4MDjriK5eOAWAD4z+IekAu4rp074caVxzjtxZIDaHuAP1uBbBpzHy8pfXA6lfdU9mXBm7kLMpcixCJU3gDttXFHU9jWNzXicNBAmXU7bU3D/rNljeVUakSp3OpqI0kCxYnBrcCdMbKhy3ol6Awm4h1qDo4ANdH9sYuAcnO678fdz8MkGMuE9a3sUPslAS3ixgdZwp9iXsClcaexoLjxa41/H8g5UVh4+TItY7txH0LTtRQaUxiWroik8ywDTrjU818BSDrSCO2W/BW6hUhp7YaoKXmxAbNGq4bkGtuz3GFY4WvGq9aMBmnhDPSqu6v3Av4HWBsJ+7aYhI+Q6OZTEDOzp2tEWvUqUoxO5jxQ7GX1MOJikKg/wwRqcx/4Uew1XbPXrWJKpGihnVK0Opym5yvmH7I8JAL4BJBjz0LuFriAAAAAASUVORK5CYII="/>
        </defs>
      </svg>
    </button>
    <button>
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="28" height="28" fill="url(#pattern0_216_57)"/>
        <defs>
          <pattern id="pattern0_216_57" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_216_57" transform="scale(0.03125)"/>
          </pattern>
          <image id="image0_216_57" width="32" height="32" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsSAAALEgHS3X78AAABeUlEQVRYhdVXu1EDMRB9MOQcgWKOCjAVAIFyl2AqYKiA7YAS7BKcKzEV4A4wsRLTAbMeaYYR+qx0x2Fech7tR0/r3dUKf40T6f5K0xzATKi+tYbWEsWzigA8ArgT6m4AjE7A44lPmJBxhF5qnP0goDT1ABYR3d59rwF0CX+XXldpooh8ZQ3tsgQALAuhjpGLkX2OrN8CuC8R4BDPBZu0QJQXkyJZhkrTG3+toZtgfekidGUN7d0a58Q7n9AaepD48chVQarme5eEM1duXrf7lqgSPwec5oRT4KgJ7DKyWiR9HTWBA5Qm6QXUZCvJgbDtpu6BmCzVsqsIhPhslI1GYFQMIdAnfldhSBXUEGiqgo+C0xokfUn+guYylNi2lGENfqUMR8W/JMAzwD7oelu3tsnYRZEbSKKlYw3xJhfB2row7w26Dc8zOiV42yQBycNkoTS9uhDXoJOM8Nm3oRsoh/QBuHdidCBllCLAjwg+RWsv4KitGm0nAIAvAKFPf8g4aPMAAAAASUVORK5CYII="/>
        </defs>
      </svg>
    </button>
  </div>
</div>
