<section class="ff-inter">
  <header class="header">
    <h2>Meu Mural</h2>
    <button class="add-thoughts" routerLink="/create-thoughts">Adicionar pensamento</button>
  </header>
  <div class="mural" *ngIf="listThoughts.length > 0, else withoutThoughts">
    <div *ngFor="let thought of listThoughts" [ngClass]="widthThought(thought)">
      <app-thought
        [thought]="thought"
        (thoughtClicked)="onThoughtClicked($event)"
      ></app-thought>
    </div>
  </div>
</section>

<ng-container *ngIf="eventThought.event === 'delete'">
  <app-delete-thoughts
    [thought]="eventThought.thought"
    (thoughtClicked)="onThoughtClicked($event)"
  ></app-delete-thoughts>
</ng-container>

<ng-template #withoutThoughts>
  <div class="without-thoughts ff-inter">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
