main {
  background: url("/assets/imagens/main/background.png");
  background-size: cover;
  min-height: 60vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

